<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">



        <div class="layui-btn-group">
            <button class="layui-btn data-add-btn">添加</button>
            <button class="layui-btn layui-btn-danger data-delete-btn">删除</button>
        </div>
        <div class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"> ></div>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">指标维护</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>
    </div>
</div>
<script src="/lib/layui-v2.5.4/layui.js" charset="utf-8" ></script>
<script th:inline="none">
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: document.getElementById('currentTableId'),
            url: '/point/department/list',

            cols: [[
                {type: "checkbox", width: 65, fixed: "left"},
                {type: 'numbers', title: '序号', sort: true, width:50},
                {field: 'pointName', title: '考核指标'},
                {field: 'weight', title: '权重占比(建议所有权重相加等于‘1’或‘100’)'},
                {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            page:true,
            limit:10,
            response:{statusCode:0},
            parseData:function (data) {
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": data.size, //解析数据长度
                    "data": data.data //解析数据列表
                }
            }

        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        // 监听添加操作
        $(".data-add-btn").on("click", function () {
            layer.open({
                type:2,
                content:"/point/addPoint?type=department",
                maxmin:true,
                area:['700px','500px'],
                shadeClose:true,
                end: function (index) {
                    layer.close(index);
                    table.reload('currentTableId',{
                        url:'/point/department/list',
                        where: { //设定异步数据接口的额外参数，任意设
                        },
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }
            })
        });

        // 监听删除操作
        $(".data-delete-btn").on("click", function () {
            var checkStatus = table.checkStatus('currentTableId')
                data = checkStatus.data;
            if (JSON.stringify(data) == null || JSON.stringify(data) == "[]"){
                layer.msg("选择不能为空！");
            }else {
                layer.confirm('真的删除行么', function (index) {
                    if (index) {
                        var checkStatus = table.checkStatus('currentTableId'),
                            data = checkStatus.data
                        var id = [];
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                id += data[i].id + ',';
                            }
                            console.log(id);
                            $.ajax({
                                type: 'post',
                                url: '/point/deleteAllPoint',
                                data: {'id': id},
                            });
                            layer.close(index);
                            layer.msg('删除成功');
                            table.reload('currentTableId', {
                                url: '/point/department/list',
                                where: { //设定异步数据接口的额外参数，任意设
                                    id: id
                                },
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                        }
                        ;
                    } else {
                        layer.close(index);
                    }
                });
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {

            var data = obj.data;
            if (obj.event === 'edit') {
                // layer.open({
                //     type:2,
                //     content:'https://www.layui.com/admin/std/dist/views/user/user/userform.html',
                //     area: ['500px', '300px']
                // })
                layer.open({
                    type:2,
                    content:"/point/editPoint?id="+data.id,
                    maxmin:true,
                    area:['700px','500px'],
                    shadeClose:true,
                    end: function(layero, index){//无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
                        table.reload('currentTableId',{
                            url:'/point/department/list',
                            where: { //设定异步数据接口的额外参数，任意设
                            },
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    }
                })

            }  else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    if (index){
                        $.ajax({
                            type:'post',
                            url:"/point/deletePoint",
                            data:{'id': data.id},
                            success:function (data) {
                                obj.del();
                                layer.alert('删除成功');
                            }
                        });
                    }else {
                        layer.close(index);
                    }
                });
            }
        });

    });
</script>
<script>


</script>

</body>
</html>