<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="/lib/layui-v2.5.4/css/layui.css" media="all">
</head>
<body>
<input type="hidden" th:value="${student.id}">
<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input th:value="${student.username}" type="text" name="username" placeholder="请输入姓名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-inline">
            <input th:value="${#strings.substring(student.stuNumber,7,9)}" type="text" name="stuNumber" placeholder="学号为01-99,系统会自动加上班级" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择班级</label>
        <div class="layui-input-inline">
            <select name="classId" lay-search="" lay-filter="addClass">
                <option value=""  disabled style="display: none;">请选择班级</option>
                <span th:each="class:${cgClassList}">
                      <option th:selected="${class} eq ${class.className}" th:value="${class.id}" th:text="${class.className}"></option>
                </span>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属学院</label>
        <div class="layui-input-inline">
            <!--            <select name="department" lay-search="" >-->
            <!--                <option value="" selected disabled style="display: none;">学院</option>-->
            <!--                <span th:each="dept:${departmentList}">-->
            <!--                    <option th:value="${dept.id}" th:text="${dept.dptName}"></option>-->
            <!--                </span>-->
            <!--            </select>-->
            <input  id="department" type="text" th:value="${department}" name="department" autocomplete="off" disabled class="layui-input">

        </div>
    </div>

    <div class="layui-form-item" lay-filter="sex">
        <label class="layui-form-label">选择性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男" checked>
            <input type="radio" name="sex" value="女" title="女" th:checked="${student.sex=='女'}? true : false">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" id="edit">确认修改</button>
        </div>
    </div>
</div>

<script src="/lib/layui-v2.5.4/layui.all.js"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form','layer'], function(){
        var form = layui.form;
        form.render(); //更新全部
        //各种基于事件的操作，下面会有进一步介绍
        form.on('select(addClass)', function(data){
            var classList = [[${cgClassList}]];
            $.ajax({
                url:"/getDepartmentByClassId",
                type:"post",
                data:{"id":data.value},
                success:function (data) {
                    $("#department").val(data);
                }
            })
        });
        $("#edit").click(function () {
            form.render(); //更新全部
            var id = $('input:hidden').val();
            var sex = $('input:radio:checked').val();
            var username = $("input[name='username']").val();
            var stuNumber = $("input[name='stuNumber']").val();
            var classId = $("select[name='classId']").val();
            var department = $("input[name='department']").val();

            console.log(department);
            if (username==""||stuNumber==""||classId==""||department==""||department==null){
                layer.msg("每项都必须不为空！")
            }else {
                console.log(sex);
                $.ajax({
                    type:"post",
                    url:"/editStudent",
                    data:{"sex":sex,"username":username,"stuNumber":stuNumber,"classId":classId,"id":id},
                    success:function (data) {
                        if (data == "ok") {

                            layer.msg("添加成功！");
                            setTimeout(function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            }, 700);
                        }
                        else if (data == "equals") {
                            layer.msg("学号不能相同");
                        }
                        else {
                            layer.msg("添加失败！");

                        }

                    }
                })
            }

        })
    });



</script>
</body>
</html>